.width-100 {
    max-width: 100px;
    width: 100px;
}

.pa-top-16 {
    padding-top: 16px;
}

.search {
    flex-grow: 5;
    min-width: 100px;
}

.field {
    flex-grow: 3;
}

.operator {
    min-width: 100px;
    width: 150px;
    flex-grow: 0;
}

.spacing-18 {
    min-width: 18px;
    max-width: 18px;
}

.query-row {
    margin: 20px 0;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-radius: 5px;
}

.display-flex {
    display: flex;
}

@media (max-width: 960px) {
    .container {
        width: 90vw;
        overflow: auto;
    }

    .root-container {
         overflow: visible;
    }
}
